%section{id: 'gallery', class: 'hide-for-small row'}
  = render partial: 'refinery/carousel', locals: { page: @page }

%section{id: 'main-body-home', class: 'row'}
  %div.large-6.small-12.columns

    %h4 My Digital Resume
    %hr
    
    %div.row
      %div.large-2.columns.hide-for-small
        = image_tag("bio.jpg", class: 'section-image')
      %div.large-10.columns
        = raw coderay(@page.content_for(:about_me))
    %hr
    
    %div.hide-for-small
      %div.row
        %div.large-2.columns
          = image_tag("resume.jpg", class: 'section-image')
        %div.large-10.columns
          = raw coderay(@page.content_for(:work_experience))
      %hr
      
      %div.row
        %div.large-2.columns
          = image_tag("education.jpg", class: 'section-image')
        %div.large-10.columns
          = raw coderay(@page.content_for(:education))      
      %hr

      %div.row
        %div.large-2.columns
          = image_tag("projects.jpg", class: 'section-image')
        %div.large-10.columns
          = raw coderay(@page.content_for(:projects))      
      %hr

      %div.row
        %div.large-2.columns
          = image_tag("skills.jpg", class: 'section-image')
        %div.large-10.columns#skills
          = raw coderay(@page.content_for(:skills))      
      %hr

  %div.large-6.small-12.columns
    %h4 Blog
    %hr
    %div.panel
      %h5
        %a{href: "#"} Post Title 1

      %h6.subheader
        Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...

      %h6
        %a{href: "#"} Read More »
    %div.panel.hide-for-small
      %h5
        %a{href: "#"} Post Title 2 »

    %div.panel.hide-for-small
      %h5
        %a{href: "#"} Post Title 3 »
    %a{href: "#", class: 'right'} Go To Blog »