%div.row
  %div.large-12.hide-for-small
    %div.orbit-container
      %ul.example-orbit.orbit-slides-container(data-orbit)
      - @page.images.each_with_index do |image, index|
        %li.active
          = link_to image_tag(image.thumbnail.url), alt: "slide #{index + 1}"        
          %div.orbit-caption
            = "Caption #{index + 1}"
      - # Navigation Arrows
      %a 
        = link_to "Prev", "#", class: "orbit-prev"
      %a 
        = link_to "Next", "#", class: "orbit-next"
      - # Slide Numbers
      %div.orbit-slide-number
        %span 1 of 
        %span 3
      - #Timer and Play/Pause Button
      %div.orbit-timer
        %div.orbit-progress
    - # Bullets
    %ol.orbit-bullets
      %li{data: {orbit_slide_number: "1"}}
      %li.active{data: {orbit_slide_number: "2"}}
      %li{data: {orbit_slide_number: "3"}}