<div id='logo' class='third'>
<h1><%= link_to "Welcome to #{Refinery::Core.site_name}", refinery.root_path %></h1>
  <p><em>"A mind that is stretched by a new experience can never go back to its old dimensions."</em></p>
</div>

<div id='social-media-nav' class='third'>
  <ul id='header-links-list'>
    <li><%= link_to(image_tag("facebook_logo.gif", id: 'facebook'), "https://www.facebook.com/dainhall", target: "_blank", title: "Check me out on Facebook") %></li>
    <li><%= link_to(image_tag("LinkedIn-logo.png", id: 'linkedin'), "http://www.linkedin.com/profile/view?id=106601609&trk=nav_responsive_tab_profile_pic", target: "_blank", title: "Check me out on LinkedIn")%></li>
    <li><%= link_to(image_tag("twitter-logo.png", id: 'twitter'), "https://twitter.com/donelikedainer", target: "_blank", title: "Follow me on Twitter")%></li>
    <li><%= link_to(image_tag("github-logo.png", id: 'github'), "https://github.com/daino3", target: "_blank", title: "Sift through my Github") %></li>
    <li><%= link_to(image_tag("resume.jpg", id: 'resume'), "https://www.dropbox.com/s/b1bascd9xuhpdw3/Dain%20Hall%20Resume_2013.11.pdf", target: "_blank", title: "Download my resume") %></li>
  </ul>
</div>

<div id='header-nav' class='third'>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
</div>